.left {
    margin-top: 5%;
    margin-left: 5%;
}

.theme-gradient {
    -webkit-text-fill-color:#0000;
    background: #f81f01;
    background: linear-gradient(145deg,#f81f01,#ee076e);
    -webkit-background-clip: text;
    display: inline-block
}

.right img {
    width: auto;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    /* Adjust the last value as needed */
}

.container {
    background-image: url('../static/bg.png'); /* Replace with the path to your image */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5f5f5;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 100vh;
    /* Set the height to 100% of the viewport height */
}

.right {
    flex: 1;
    height: 100%;
    /* Set the height to 100% of the parent's height */
}